<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css">
      pre {
        white-space: pre-wrap;
        line-height: 1.0;
        font-size: 7px;
        font-family: 'Menlo', 'Courier New', 'Consola';
      }
    </style>
</head>
<body>
  {% for string in strings %}
  <pre id="{{ loop.index }}" {% if loop.index > 0 %}style="display: none"{% endif %}>{{ string }}</pre>
  {% endfor %}
</body>
</html>
<script>
  var id = 1;
  setInterval(function() {
    document.getElementById(id.toString()).style.display = 'none';
    id = id + 1;
    if (id > {{ strings | length }}) id = 1;
    console.log(id)
    document.getElementById(id.toString()).style.display = 'block';
  }, 100);
</script>
